<nav class="main-nav fixed" role="navigation">
        {{#foreach navigation}}
            <a href="{{url absolute="true"}}" {{#if current}}class="current"{{/if}} title="Go to {{label}}" role="presentation">{{label}}</a>
        {{/foreach}}
        {{!-- <div id="search" class="nav-button search">
            <input class="search-input" type="text" placeholder="Search...">
            <span class="icon-search-button icon-search"></span>
            <div class="search-results"></div>
        </div> --}}
</nav>